.bonjour{
    font-size: 1.5em;
    color: var(--heading-colour);
    text-shadow: 2px 2px var(--shadow-colour)
}
.hero-text{
    backdrop-filter: blur(12px);
    font-size: clamp(1.6em, 4vw, 3em);
    margin-top: clamp(1.5em, 4vw, 2em);
    margin-left: clamp(1.5em, 6vw, 10em);
    margin-right: clamp(1.5em, 6vw, 10em);
    margin-bottom: clamp(1rem, 6vw, 1em);
    text-align: justify;
    color: var(--text-colour);
    font-weight: bolder;
    transition: all 0.3s ease;
    font-family: 'Delius Swash Caps', cursive;
}
.plunge-text{
    backdrop-filter: blur(12px);
    text-align: center;
    font-size: clamp(1.7em, 4vw, 3em);
    margin-left: clamp(1rem, 4vw, 2em);
    margin-right: clamp(1rem, 4vw, 2em);
    color: var(--text-colour);
    font-weight: bolder;
}
.cta-1{
    position: relative;
    color: var(--heading-colour);
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.cta-1::after{
    content: "";
    position: absolute;
    left:0;
    bottom: 0;
    width:0;
    height: clamp(0.5px, 4vw, 4px);
    transform: translate(1px);
    z-index:100;
    transition: width 0.3s ease-in-out;
    background-color: var(--shadow-colour);
}
.cta-1::before{
    content: "";
    position: absolute;
    left:0;
    bottom: 0;
    width:0;
    height: clamp(0.5px, 4vw, 4px);
    z-index: 101;
    transform: translateY(-2px);
    transition: width 0.3s ease-in-out;
    background-color: var(--heading-colour);
}
.cta-1:hover::after{
    width: 100%;
}
.cta-1:hover::before{
    width:100%;
}
@media ( min-width: 768px){
    .bonjour{
        text-shadow: 3px 3px var(--shadow-colour);
    }
    .cta-1{
        text-shadow: 2px 2px var(--shadow-colour);
    }
}
@media (min-width: 1025px){
    .bonjour{
        text-shadow: 4px 4px var(--shadow-colour)
    }
    .cta-1{
        text-shadow: 3px 3px var(--shadow-colour);
    }
}