.intro-heading{
    text-align: center;
    font-size: 2em;
    margin-top: 0;
    font-weight: bold;
    text-shadow: 2px 2px var(--shadow-colour);
    color: var(--heading-colour);
}
.about-link{
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: underline;
}
