.navbar {
    background: linear-gradient(
    to bottom,
    #af6c02 0%, #af6c02 20%,
    #a76100 20%, #a76100 40%,
    #844400 40%, #844400 60%,
    #642800 60%, #642800 80%,
    #490b00 80%, #490b00 100%
    );
    opacity: 1;
    position: sticky;
    top: 0;
    width: 100%;
    height: 90px;
    box-shadow: none;
    display: flex;
    transition: all 0.2s ease-in-out;
    justify-content: space-between;
    align-items: center;
    padding: none;
    z-index: 1000;
    font-family: "Delius Swash Caps", cursive;
}

.navbar-scrolled {
    height: 45px;
}
.title{
    visibility: hidden;
}
.navbarContainer{
    visibility: visible;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.hamburger-btn{
    visibility: hidden;
}
.navbarContainer li {
    padding: 10px;
    color: var(--heading-colour);
    text-shadow: 2px 2px var(--shadow-colour-2);
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-weight: bolder;
    font-size: 2.5em;
    margin: 0px 20px 0px 20px;
    transition: all 200ms ease;
}
.navbarContainer li:hover{
    transform: scale(1.02) translate(-2px, -2px);
    text-shadow: 3px 3px var(--shadow-colour-2);
}
.navbar-scrolled .navbarContainer li {
    font-size: 1.6em;
    text-shadow: 1.5px 1.5px var(--shadow-colour-2);
    padding: 5px;
    margin: 0px 15px 0px 15px;
}
.navbar-scrolled .navbarContainer li:hover{
    text-shadow: 2.5px 2.5px var(--shadow-colour-2);
    transform: translate(-2px -1px) scale(1.01);
}

@media (max-width: 768px){
    .navbarContainer {
        visibility: hidden;
        display: none;
    }
    .navbarContainer li{
        display: none;
    }
    .title{
        visibility: visible;
        font-size: 2em;
        font-weight: bold;
        color: var(--heading-colour);
        text-shadow: 2px 2px var(--shadow-colour-2);
        text-align: center;
    }
    .navbar{
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        align-items: center;
        height: 50px;
    }
    .hamburger-btn{
        visibility: visible;
        font-size: 32px;
        font-weight: bolder;
        color: var(--heading-colour);
    }
    .navbar-scrolled{
        height: 30px
    }
    .navbar-scrolled .title{
        font-size: 1.3em;
        transition: all 0.1s ease;
    }
    .cancel-btn{
        cursor: pointer;
        margin-top: 3   vh;
        padding: 20px;
    }
    .hamburger{
        visibility: visible;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        position:fixed;
        height: 100vh;
        width: 100vw;
        background-color: var(--heading-colour);
        z-index: 9999;
    }
    .hamburger-menu{
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        overflow: visible;
        visibility: visible;
        color: rgb(232, 208, 141);
        margin-bottom: 30vh;
    }
    .hamburger-menu li{
        text-align: center;
        display: block;
        width: 100%;
        
    }
    .hamburger-menu a{
        display: block;
        width: 100%;
    }
    .nav-link-m-1{
        font-size: 3em;
        display: block;
        width: 100%;
        background-color: #af6c02;
    }
    .nav-link-m-2{
        font-size: 3em;
        background-color: #a76100;
        display: block;
        width: 100%;
    }
    .nav-link-m-3{
        font-size: 3em;
        background-color: #844400;
        display: block;
        width: 100%;
    }
    .nav-link-m-4{
        font-size: 3em;
        background-color: #642800;
        display: block;
        width: 100%;
    }
    .nav-link-m-5{
        font-size: 3em;
        background-color: #490b00;
        display: block;
        width: 100%;
    }
}