@import 'tailwindcss';
@tailwind components;
@tailwind utilities;

:root{
    --heading-colour: #FFC25F;
    --shadow-colour: #FD9426;
    --shadow-colour-2: #8d5205;
    --secondary-color: #8BDCDB;
    --background-color:#043153;
    --button-color: #FFD684;
    --button-color-bg: #bc9e61;
    --background-color-secondary: #5E5A11;
}
body {
    font-family: 'Delius', cursive;
    background: hsla(181, 96%, 56%, 1);
    background: linear-gradient(270deg, hsla(181, 96%, 56%, 1) 0%, hsla(181, 100%, 17%, 1) 100%);
    background: -moz-linear-gradient(270deg, rgb(54, 62, 62) 0%, hsla(181, 100%, 17%, 1) 100%);
    background: -webkit-linear-gradient(270deg, hsla(181, 96%, 56%, 1) 0%, hsla(181, 100%, 17%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#23f7fb", endColorstr="#005758", GradientType=1 );
}
