@import 'tailwindcss';
@tailwind components;
@tailwind utilities;

:root{
    --heading-colour: #ffc362;
    --shadow-colour: #834d02;
    --text-colour: #b7f1f2;
    --secondary-color: #8BDCDB;
    --background-color:#043153;
    --button-color: #FFD684;
    --button-color-bg: #bc9e61;
    --background-color-secondary: #5E5A11;
}
body {
    font-family: 'Delius', cursive;
     background-image: linear-gradient(to bottom, #00b7bb, #00aeb2, #00a5a8, #009c9f, #009396, #008a8d, #008083, #00777a, #006c6e, #006163, #005658, #004b4d);
}
